.App {
  text-align: center;
}

.Navbar-row {
  margin-left: 50%;
}

.navbar-brand {
  font-size: large;
  font-weight: bold;
}

.nav {
  margin-right: 40px;
}

.Search-button {
  margin-top: 5px;
}

.Infotext {
  padding-top: 25px;
  color: gray;
}

.No-style-list {
  list-style-type: none;
}

#button {
  margin-bottom: 5px;
}

.List-column {
  min-height: 500px;
  border-left: 1px solid #b8bec6;
  padding-left: 25px;
}
