.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 75px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.No-style-list {
  list-style-type: none;
}

#Categories-section {
  display: none;
}

#List-of-results-section {
  display: none;
}

#No-categories {
  display: none;
}

#button {
  margin-bottom: 5px !important;
}

.List-column {
  min-height: 500px;
  border-left: 1px solid black;
}
